@model Car

@{
    ViewData["Title"] = "Edit Car";
}

<div class="container-fluid w-50 my-5">
    <h1>Edit Car</h1>

    <h4>Car</h4>
    <hr />
    <form asp-action="Edit">
        <div class="form-group">
            <label asp-for="Make" class="control-label"></label>
            <input asp-for="Make" class="form-control" />
            <span asp-validation-for="Make" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Model" class="control-label"></label>
            <input asp-for="Model" class="form-control" />
            <span asp-validation-for="Model" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Year" class="control-label"></label>
            <input asp-for="Year" class="form-control" />
            <span asp-validation-for="Year" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Price" class="control-label"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <!-- Handle CarImage if needed -->


        <button type="submit" class="btn btn-primary">Save</button>
        <a href="@Url.Action("Index")" class="btn btn-secondary">Cancel</a>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

